* {
  padding: 0px;
  margin: 0px;
}
.container {
  background-color: white;
  border-radius: 10px;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 226, 226);
}
.container {
  width: 700px;
  height: 375px;
  box-shadow: 0 0 10px 2px;
}
.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}
.answer-buttons {
  margin-top: 200px;
}
.question {
  text-align: center;
  margin-top: 50px;
}

.start-btn {
  width: 20%;
  visibility: inherit;
  margin-left: 225px;
}
.controls {
  text-align: center;
}

.timer {
  display: inline;
  float: right;
  margin-right: 15px;
  margin-top: 20px;
}
.highscore {
  margin-top: 20px;
  margin-left: 10px;
}

.btn {
  visibility: hidden;
}
.submitbtn {
  width: 30x;
  height: 19px;
  visibility: hidden;
}
.nameInput {
  visibility: hidden;
}
.score-list {
  margin-left: 250px;
  display: none;
}
.restartbtn {
  margin-left: 10px;
  margin-top: 10px;
}
